.header {
    background-color: #EBEBE9;
    padding: 30px 0 10px 0;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__links {
        display: flex;

        .link {
            padding: 11px 32px;
            text-transform: uppercase;
        } 
        
        .item {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 2px;
            color: #292929;
            text-decoration: none;
        }
        .item:hover {
            color: #FF8340;
        }
        
        .item:visited {
            color: #843500;
        }
    }
        .burger__menu-btn {
            display: none;
            position: absolute;
            top: 42px;
            left: 88%;
            width: 48px;
            height: 48px;
            
            background-color: #FFFFFF;
            border: 2px solid #292929;
            border-radius: 5px;
        }

        .burger__menu-btn span {
            position: absolute ;
            transform: translateY(-50%);
            top: 50%;
            width: 25px;
            height: 3px;
            background-color: #292929;
            left: 10px;
            transition: transform .5s, opacity .5s, background-color .5s;

            &:first-child {
                transform: translateY(0);
                top: 20%;
            }

            &:last-child {
                transform: translateY(0);
                top: auto;
                bottom: 20%;
            }
        }    
        
        @media screen and (max-width: 952px) {
            .header__logo {
                max-width: 117px;
                min-height: 64px;
            }
            .nav__links {
                display: none;
            }

            .burger__menu-btn {
                display: block;
            }
        }
}

