.map__title {
    color: var(--background-3, #292929);
    font-family: Arial;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 90px; /* 112.5% */
    text-transform: uppercase;
    margin-top: 115px;
    margin-bottom: 26px;
}