
.section__title {
    color: var(--background-3, #292929);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 90px; /* 112.5% */
    text-transform: uppercase;
    margin-top: 140px;
    margin-left: 34px;
    margin-bottom: 73px;
}

.swiper-slide {
    width: 100%;

    @media screen and (max-width: 1200px) {
        filter: grayscale(1);
    }

    &__title {
        color: #292929;
        font-family: Arial;
        font-size: 45px;
        font-style: normal;
        font-weight: 900;
        line-height: 50px; /* 111.111% */
        text-transform: uppercase;
    }

    &__subtitle {
        color: #292929;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 2px;
    }
}

.swiper-slide-next {
    filter: none;
}
.swiper-button-next {
    height: 100%;
    top: 0;
    right: 0;
    width: 140px;
    background: linear-gradient(-90deg, #FFF 0%, rgba(41, 41, 41, 0.00) 100%);

    @media screen and (max-width: 1200px) {
        display: none;
    }
}

.swiper-button-prev {
    height: 100%;
    top: 0;
    left: 0;
    width: 140px;
    background: linear-gradient(90deg, #FFF 0%, rgba(41, 41, 41, 0.00) 100%); 
    
    @media screen and (max-width: 1200px) {
        display: none;
    }
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    width: 100%;
    text-align: end;
    padding-right: 34px;
    color: #FF8340;;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    width: 100%;
    padding-left: 34px;
    color: #FF8340;;
}